body{
    background-color: rgb(235, 225, 225);
}

ol, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-auto-columns: auto auto auto;
    
}

.employee {
    display: flex;
    align-content: center;
    border: solid 1px lightcyan;
    border-radius: 5px;
    height: 200px;
    width: 400px;
    background-color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.profileImage {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 2em;
}