body {;
    background-color: rgb(235, 225, 225);
}

header {
    display: flex;
    justify-content: center;
    margin: 0 5em;
    flex-direction: column;
}

#input {
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    outline-style: none;
}

ol, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    justify-content: center;
    grid-auto-flow: row;
    grid-gap: 4vw;
    grid-template-columns: auto;
    grid-template-rows: auto;
    
}

.hidden {
    display: none; /* Hidden by default */
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    align-content: center;
  }

  .icon-back, 
  .icon-next {
        width: 20px;
        cursor: pointer;
       padding: 5px 20px;
  }

  .close-overlay {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    border-radius: 5px;
    }

  .usercard {
    position: relative;
    margin: 20vh auto;
    border: solid 2px rgb(198, 224, 224);
    border-radius: 5px;
    width: 450px;
    background-color: #fff;
    text-align: center;
  }

  .usercard img {
      margin: 5% auto auto;
  } 

.employee {
    border: solid 2px rgb(198, 224, 224);
    border-radius: 5px;
    height: 200px;
    width: 450px;
    background-color: #fff;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.profileImage {
    display: flex;
    align-self: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 1em;
    margin-left: 1em;
}

.user-data {
    display: flex;
    align-self: center;
    flex-direction: column;
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
}

@media (min-width: 1224px) {
    .container {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;       
    }
}